@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap");

// Big Button
.big-button {
  background: $green;
  border: none;
  border-bottom: 0.6rem solid darken($green, 10%);
  color: white;
  font-family: Cairo, Arial, sans-serif;
  font-weight: bold;
  font-size: $l-size;
  margin-bottom: $m-size;
  padding: 2.4rem;
  width: 100%;
}

.big-button:disabled {
  opacity: 0.5;
}

@media (min-width: $desktop-breakpoint) {
  .big-button {
    margin-bottom: $xl-size;
  }
}

// Button
.button {
  background: $green;
  border: none;
  border-bottom: 0.3rem solid darken($green, 10%);
  color: $off-white;
  font-weight: 500;
  padding: $s-size;
}

.button--link {
  background: none;
  border: none;
  color: $off-black;
  padding: 0;
}
